.paginate {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border: 1px solid #112083;
  background-color: #d4d4d4;
  padding: 15px;
  border-radius: 10px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #112083;
  background: #112083;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
