.profContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
  }
  
  .profLeft {
    background-color: whitesmoke;
  }

  .profTop {
    font-weight: bold;
    font-size: 7vh;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-top: 20vh;
    margin-left: 5vh;
  }

.profile_page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.profile_page .col-left{
    max-width: 100px;
    min-width: 100px;
    padding: 30 50px;
    margin: auto;
    margin-left: 50px;
    margin-top: 120px;
}

.profile_page .col-left .avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.profile_page .col-left img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile_page .col-left .avatar span{
    position: absolute;
    bottom: -100%;
    left: -10%;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(60, 86, 255);
    transition: 0.3s ease-in-out;
}
.profile_page .col-left .avatar:hover span{
    bottom: -15%;
}
.profile_page .col-left #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.profile_page .col-left h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
}
.profile_page .col-left label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.profile_page .col-left input{
    width: 90%;
    height: 50px;
    margin: 5px 0;
    border: 3px solid #313131;
    border-radius: 6px;
    outline: none;
    background: rgb(137, 151, 255);
    padding: 0 5px;
}

.profile_page .col-left select{
    width: 85%;
    height: 50px;
    margin: 5px 0;
    border: 3px solid #313131;
    border-radius: 6px;
    outline: none;
    background: rgb(137, 151, 255);
    padding: 0 5px;
    margin-left: 10px;
}

.profile_page .col-left button{
    background: rgb(51, 51, 51);
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
}

/* ----------- Col Right----------- */
.profile_page .col-right{
    max-width: 500px;
    min-width: 500px;
    padding: 0 50px;
    margin-left: 900px;
    margin-top: -500px;
}
.profile_page .col-right h2{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
}
.profile_page .col-right label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-left: 20px;
}
.profile_page .col-right input{
    width: 200%;
    height: 40px;
    margin: 5px 0;
    border: 3px solid #313131;
    border-radius: 6px;
    outline: none;
    background: rgb(137, 151, 255);
    padding: 0 5px;
}

.profile_page .col-right button{
    background: rgb(51, 51, 51);
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
}

div.profilecard {
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 3px solid #313131;
    padding: 40px;
    background-color: whitesmoke
  }

div.card1 {
    width: 650px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 40px;
    background-color: rgb(235, 235, 235);
    margin-top: -100px;
  }

  div.card2 {
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 40px;
    background-color: rgb(235, 235, 235);
    margin-top: -100px;
    margin-left: -200px;
  }

/* ------------ Table------------ */
.customers{
    border-collapse: collapse;
    width: 106%;
    margin-left: -10px;
}
.customers td,
.customers th{
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 100px;
}
.customers tr:nth-child(even){
    background: #f2f2f2;
}
.customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #555;
    color: white;
}

.customers .fa-edit{
    background: whitesmoke;
    padding: 7px;
    color: #555;
    font-size: 10px;
}
.customers .fa-trash-alt{
    /* background: red; */
    padding: 7px;
    color: white;
    font-size: 10px;
    margin-left: 7px;
}

.allusers{
    margin-left: 1017px;
}

.btn-profupdate{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.55rem 1rem;
    background-color: #112083;
    margin-top: -100px;
    margin-left: -200px;
}

btn-updateacc{
    font-size: 1.9rem;
    letter-spacing: 0.05rem;
    padding: 0.55rem 1rem;
    background-color: #112083;
}

btn-updatepw{
    font-size: 1.9rem;
    letter-spacing: 0.05rem;
    padding: 0.55rem 1rem;
    background-color: #112083;
}