.card_display {
    width: 100%;
    overflow: hidden;
    height: 30%;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin: 25px;
    position: relative;
    background: rgb(12, 9, 104);
  }
  .product_box_card {
    margin-right: 50%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .product_box h5 {
    width: 100%;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
  }
  .product_card span {
    color: crimson;
    margin-left: 10px;
  }
  .product_box p {
    width: 100%;
    display: -webkit-box;
    margin-left: 10px;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
  }
  .row_btn_card {
    display: flex;
    justify-content: space-between;
    margin-left: 80%;
    margin-bottom: 2%;
  }
  .row_btn_card a {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(12, 9, 104);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
  }
  #btn_buy {
    background: white;
    margin-right: 10px;
    font-size: 17px;
    height: 40px;
    border-radius: 5px;
    width: 120px;
    margin-left: 10px;
  }
  
  #btn_view {
    background: #ffffff;
    outline: #100360;
    color: #100360;
    height: 40px;
    width: 120px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .product_card input {
    position: absolute;
    width: 25px;
    height: 25px;
  }
  