.reviewStl {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 50px;
    justify-items: center;
    margin: 20px 0;
    color: #bf0707;
}