.addPayments{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2px auto;
}
.paypal form{
    width: 290px;
    padding: 50px;
    margin: 10px auto;
    background:#f2f2f2;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0;
    text-align: left;
}
.paymentImage {

    background-image: url("./cards.png");
  
    background-size: 580px 580px;
  
    background-repeat: no-repeat;
  
    background-position: center;
  
    z-index: 2;
  
  }