.dis_card {
    width: 100%;
    position: relative;
  }
  .disTopicHrCard {
    color: rgb(255, 166, 1);
    border-top: 1vh solid;
    width: 50%;
    margin-bottom: 4vh;
    margin-left: 0%;
  }

  .savecard{
    background-image: url("../Reservation/Style/savecard.png");
  
    background-size: 580px 490px;
  
    background-repeat: no-repeat;
  
    background-position: center;

  }