.NumAds {
  max-width: 380px;
  width: 325px;
  overflow: hidden;
  height: 100px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 25px;
  position: relative;
}
