.NumAds {
  max-width: 380px;
  width: 325px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin-left: 76%;
  margin-top: -4%;
}

.NumAds h3 {
  margin-top: 40px;
  text-align: center;
  padding: 30px;
}
