body {
  margin: 0px;
}

.categories1 {
  width: 97%;
  margin-left: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.categories1 form {
  margin-bottom: 20px;
  width: 100%;
}
.categories1 label {
  display: block;
  font-weight: 700;
  margin-left: 2vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.categories1 input {
  width: 65%;
  margin-left: 2vh;
}

.categories1 form button {
  width: 20%;
  height: 50px;
  background: rgb(35, 7, 155);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30vh;
  border-radius: 10px;
}

.categories1 .row {
  min-width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.border {
  border: rgb(48, 16, 207) 2px solid;
  padding: 10px;
  margin: 25px;
  width: 38%;
  height: 86%;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; */
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  margin-right: 100px;
}

.table {
  width: 90%;
  column-gap: 2px;
  margin-left: 10vh;
}

.DisplayMain {
  background-color: whitesmoke;
  padding: 2vh;
}

.formTitleMark {
  margin-top: 5vh;
  margin-left: 3vh;
  font-size: 5vh;
  font-weight: bold;
}

.hr1 {
  color: rgb(33, 8, 116);
  border-top: 1vh solid;
  width: 50%;
}

.btn_edit {
  background: rgb(12, 9, 104);
  margin-right: 10px;
  font-size: 17px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  width: 120px;
  margin-left: 10px;
}

.btn_delete {
  background: #ffffff;
  outline: #bf0707;
  color: #bf0707;
  height: 40px;
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.btn_edit1 {
  background: rgb(12, 9, 104);

  font-size: 17px;

  height: 40px;

  color: #ffffff;

  border-radius: 5px;

  width: 140px;

  margin-left: 72%;

  margin-bottom: 10px;

  margin-top: 10px;
}
