body {
  margin: 0px;
}

.categories1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.categories1 form {
  margin-bottom: 20px;
}
.categories1 label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.categories1 input,
.categories1 input {
  width: 310px;
}

.categories1 form button {
  width: 100px;
  height: 50px;
  background: rgb(35, 7, 155);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 30vh;
  border-radius: 10px;
}

.categories1 .row {
  min-width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.border {
  border: rgb(48, 16, 207) 2px solid;
  padding: 10px;
  margin: 25px;
  width: 40%;
  height: 80%;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; */
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  border-radius: 10px;
  margin-right: 70px;
}
